<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
        <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>
<% if @user.has_posts? %>
  <h2> Posts</h2>
  <%= render @user.posts %>
<% elsif @user.has_comments? %>
  <h2>Comments</h2>
  <%= render @user.comments %>
<% else %>
  <p><%="#{@user.name} has not submitted any posts yet." %></p>
<% end %>
<% if @user.has_favorites? %>
<h2>Favorites</h2>
    <% @user.favorites.each do |favorite| %>
      <%= render partial: 'users/favorite', locals: { post: favorite.post } %>
    <% end %>
<% else %>
    <div class="media">
      <%= link_to current_user.name, user_path(current_user) %> has not favorited any posts yet.
    </div>
<% end %>
